html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.tech-icons > a {
  margin: 0px 12px;
}
